<div>
    Menú
</div>
<div>
    <ul>
        <li>
            <a href="http://localhost:3000/">Crear imagen</a> 
        </li>
        <li>
            <a href="http://localhost:3000/plantilla">Plantillas</a>
        </li>
        <li>
            <a href="http://localhost:3000/configuracion">Configurar sistema</a>
        </li>
    </ul>
</div>