<form method="post" action="/"> 

    <div id="configuracion_base" style="border: black solid 1px; height: 150px;">
        <label>Idioma</label>
        <input type="text" id="idioma" name="idioma"/>

        <label>Huso horario</label>
        <input type="text" id="huso" name="huso"/>
    </div>

    <div id="programas">

    </div>



    <div id="controles">
        <div id="botones"> 
            <input type="submit" id="guardar" value="Enviar"></input>
        </div>
    </div>
</form>